coloredlogs==10.0
docker[tls]==4.2.0
Jinja2==2.11.3
spur==0.3.20
voluptuous==0.11.1
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=39.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
